.lead {
    font-size: 25px;
}
.container.custom-container {
    margin-left: 0px;
    margin-right: 0px;
  }

  .nav > li > a:focus, .nav > li > a:hover {
    background-color: transparent !important;
}